/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kaushan+Script&family=Poppins:wght@200;300;400;500;600&display=swap');

/*Main Css*/
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*Top part Css Start*/
.top-part {
  text-align: center;
  color: #fff;
  padding: 200px 260px;
  background-image: url(./images/donation13.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
h1 {
  font-size: 35px;
}
.paragraph {
  font-size: 15px;
  padding-bottom: 10px;
}
.btn {
  background-color: rgb(241, 67, 67);
  text-decoration: none;
  color: white;
  padding: 4px;
  border-radius: 3px;
  border: none;
}
/*Top part Css End*/

/*Second part Css Start*/
.second-part {
  text-align: center;
  width: 100%;
  height: 100vh;
}
.paragraph-2 {
  font-size: 15px;
  padding-bottom: 10px;
}
.amount {
  text-align: center;
  margin-left: 220px;
}
.amount .card {
  background-color: white;
  border-radius: 5px;
  font-size: 25px;
  box-shadow: 0px 40px 500px rgba(0, 0, 0, 0.3);
  float: left;
  text-align: center;
  padding: 10px;
  margin-bottom: 100px;
  margin-left: 40px;
}
#bg {
  background-color: #ff5959;
  color: white;
}
.input-amount {
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 50px;
}
.input-amount input {
  margin-bottom: 30px;
  font-size: 18px;
  text-decoration: none;
  width: 400px;
  text-align: center;
  padding-top: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid dimgray;
}
/*Second part Css End*/

/*Donation part Css Start*/
.third-part {
  text-align: center;
  width: 100%;
  height: 100vh;
}
.paragraph-3 {
  font-size: 15px;
  padding-bottom: 10px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
.icon {
  width: 50px;
}
.card-1 {
  width: 300px;
  height: 250px;
  border: 1px solid gray;
  box-shadow: 8px 8px 16px gray;
  padding: 5px;
  border-radius: 6px;
  margin-top: 40px;
}
/*Donation part Css End*/

/*Bonus part Css Start*/
.fourth-part {
  text-align: center;
}
.paragraph-3 {
  font-size: 15px;
  padding-bottom: 10px;
}
.donation-partners {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.donation-partners img {
  width: 250px;
}
span{
    color: red ;
}
/*Bonus part Css End*/

/*Update and Sybscribe  part Css Start*/
.paragraph-4 {
  font-size: 15px;
  padding-bottom: 10px;
}
.get-update {
  text-align: center;
  margin-top: 50px;
}
.subscribe-box {
  margin-top: 30px;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4b1b1;
  border-radius: 5px;
}
.subscribe-form {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
.subscribe-form input {
  border: none;
  outline: none;
  padding: 15px 25px;
  height: 54px;
  box-sizing: border-box;
  width: 75%;
  background-color: #d9d9d9;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-subscribe {
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
/*Update and Sybscribe part Css End*/

/*Footer part Css Start*/
.footer {
  padding: 10px 0;
  background-color: #121212;
  text-align: center;
}
.footer h1 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 400;
  color: #ff5959;
}
.footer p {
  color: #d9dbe1;
}
/*Footer part Css Start*/